/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, button {
    font-size: 20px;
    height: 100%;
}

body {
    display: flex;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
}

header > div {
    color: white;
    padding: 10px 20px;
}

header > div:hover {
    background-color: rgb(129, 164, 230);
    cursor: pointer;
}

button {
    background-color: rgb(209, 181, 235);
    outline: none;
}

#side-o {
    width: 0px;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 1s;
    height: 100%;
    background-color: tomato;
}

.main {
    flex-grow: 1;
    width: 100%;
}

#side-p {
    width: 0px;
    height: 100%;
    transition: 1s;
    background-color: tomato;
    overflow-x: hidden;
    z-index: 1;
}

#side-o li, #side-p li {
    padding: 10px 40px;
}
#side-o li:hover, #side-p li:hover {
    background-color: rgb(255, 172, 158);
    cursor: pointer;
}

#side-o i, #side-p i {
    cursor: pointer;
}

.i-box {
    position: relative;
    width: 70%;
    margin: 100px auto;
    
}

.i-box img {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.i-left {
    z-index: 1;
    position: absolute;
    top: calc(50% - 45px);
    left: 0px;
    padding: 20px;
    font-size: 50px !important;
    color: white !important;
    cursor: pointer;
}

.i-right {
    z-index: 1;
    position: absolute;
    top: calc(50% - 45px);
    right: 0px;
    padding: 20px;
    font-size: 50px !important;
    color: white !important;
    cursor: pointer;
}

.i-left:hover, .i-right:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.i-2, .i-3, .i-4, .i-1 {
    position: absolute;
    top: -1000;
    opacity: 0;
    
}

.active {
    position: static;
    opacity: 1;
    transition: opacity 0.5s;
}

.dot-box {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -80px;
    display: flex;
    justify-content: center;
}

.dot {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(112, 112, 112, 0.64);
    border-radius: 50%;
    cursor: pointer;
}

.dot-active {
    background-color: rgba(189, 189, 189, 0.64);
}

#hv-dd-items, #cl-dd-items {
    z-index: 1;
}

